@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e7e7e8;
    font-family: "Roboto", Microsoft Yahei, sans-serif;
}
a,
a:hover,
a:focus{
    text-decoration: none;
}
.pace .pace-progress{
    background: #e61e25;
}

.page-wrap{
    min-height: 100%;
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    background-color: #FFF;
}

.main-header:after{
    content: "";
    display: table;
    clear: both;
}
.main-header{
    padding: 10px 30px;
    border-bottom: 1px solid #dcdcdc;;
    position: fixed;
    width: 768px;
    left: 50%;
    margin-left: -384px;
    z-index: 2;
    top: 0;
    background-color: #FFF;
}
.main-header.scrolled{
    position: fixed;
    width: 768px;
    left: 50%;
    margin-left: -384px;
    z-index: 2;
    top: 0;
    background-color: #FFF;
}
.main-header .brand{
    width: 90px;
    display: none;
}
.home .main-header .brand{
    width: 90px;
    display: inline-block;
}
.public .main-header .brand{
    width: 90px;
    display: inline-block;
}
.main-header .back-toggle{
    position: relative;
    z-index: 1;
    margin: 10px 0;
    display: inline-block;
    height: 18px;
    width: 18px;
    background-image: url(../images/icon/ic_back.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.main-header .menu-toggle{
    position: relative;
    z-index: 1;
    float: right;
    padding: 20px 0;
    cursor: pointer;
}
.main-header .menu-toggle span{
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000;
}
.main-header .menu-toggle span:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: -6px;
    background-color: #000;
}
.main-header .menu-toggle span:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -6px;
    background-color: #000;
}
.detail .main-header .menu-toggle{
    display: none;
}
.menu{
    position: fixed;
    z-index: 5;
    right: 45%;
    margin-right: -384px;
    top: 0;
    padding: 10px 0px;
    height: 100%;
    width: 300px;
    background-color: #fff;
    background-image: url(../images/menu_element.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.menu.visible{
    visibility: visible;
    opacity: 1;
    right: 50%;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li a{
    display: block;
    margin: 0 30px;
    padding: 12px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    color: #000;
    font-size: 15px;
}
.menu ul li a small{
    color: #646464;
    position: relative;
    top: -5px;
}
.menu ul li a .caret{
    float: right;
    margin-right: 10px;
}
.menu ul li .dropdown-menu{
    width: 100%;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    background-color: #fafafa;
    border: 0;
    padding: 5px 0;
}
.menu ul li .dropdown-menu li a{
    padding: 5px 15px;
    border: 0;
}
.menu ul li.dropdown:after{
    content: "";
    display: table;
    clear: both;
}
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 768px;
    left: 50%;
    margin-left: -384px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.overlay.visible{
    opacity: 1;
    visibility: visible;
}
.content{
    padding: 65px 30px 0;
    padding-bottom: 75px;
}
.auth .content{
    padding-bottom: 0px;
}
.detail .content{
    padding-bottom: 10px;
}
.page-title{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    line-height: 60px;
}
.styled-heading{
    font-weight: bold;
    color: #191d54;
    font-size: 18px;
    margin-bottom: 10px;
}
.styled-heading.center{
    text-align: center;
}
.line-seperate{
    height: 10px;
    background-color: #e1e6e6;
    margin: 0px -30px;
}
.general-container{
    padding: 15px 0;
}
.content-tab{
    margin: 0 -30px 15px;
    list-style: none;
    padding: 0;
    background-color: #00649b;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}
.content-tab li{
    display: inline-block;
    margin-right: -4px;
}
.content-tab li a{
    font-size: 14px;
    display: block;
    padding: 18px 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
}
.content-tab li.active a{
    background-color: rgba(255,255,255,0.15);
}
.panel{
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    overflow: hidden;
}
.panel .panel-heading{
    background-color: #afd2e1;
    padding: 15px 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
}
.panel .panel-body{
    padding: 15px 25px;
}
@media only screen and (max-width:1024px) and (max-height:1366px){
    .page-wrap{
        max-width: 100%;
    }
    .menu{
        right: -10%;
        margin-right: 0;
    }
    .menu.visible{
        right: 0%;
    }
    .overlay{
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .main-header{
        width: 100%;
        left: 0;
        margin: 0;
    }
    .main-header.scrolled{
        left: 0;
        margin-left: 0;
        width: 100%;
    }
}
@media only screen and (max-width:767px){
    
    .main-header.scrolled{
        left: 0;
        margin-left: 0;
        width: 100%;
    }
    .main-header .menu-toggle{
        position: absolute;
        right: 15px;
        top: 7px;
        text-align: left;
        padding: 15px 0;
    }
    .main-header .menu-toggle span{
        width: 18px;
    }
    .home .main-header .brand{
        width: 65px;
    }
    .main-header .back-toggle{
        position: absolute;
        left: 15px;
        top: 15px;
        margin: 0;
    }
    .menu{
        margin-right: 0;
        right: -100%;
        width: 75%;
    }
    .menu.visible{
        right: 0%;
    }
    .content{
        padding-top: 50px;
    }
    .page-title{
        position: relative;
        line-height: normal;
        padding: 0 0 10px;
    }
}
@media only screen and (max-width:480px){
    .page-title{
        font-size: 16px;
        padding: 5px 0 10px;
    }
}

.wallet-list:after,
.wallet-list .inner:after{
    content: "";
    display: table;
    clear: both;
}
.wallet-list{
    display: none;
    padding: 30px 0px 20px;
    overflow: hidden;
}
.wallet-list + .line-seperate{
    display: none;
}
.home .wallet-list{
    display: block;
}
.home .wallet-list + .line-seperate{
    display: n;
}
.wallet-list .inner{
    margin: 0 -5px;
}
.wallet-list .list{
    float: left;
    padding: 0 5px;
    width: 33.33%;
    margin-bottom: 10px;
}
.wallet-list .list .list-inner{
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #EEE;
    text-align: center;
    color: #000;
}
.wallet-list .list:nth-child(odd) .list-inner{
    background-color: #07907e;
}
.wallet-list .list:nth-child(even) .list-inner{
    background-color: #dab066;
}
.wallet-list .list .wallet-icon{
    width: 30px;
    display: block;
    margin: 0 auto;
}
.wallet-list .list label{
    font-weight: normal;
    margin: 0;
    font-size: 13px;
}
.wallet-list .list p{
    font-size: 24px;
    margin-bottom: 0;
    margin-top: -8px;
    font-weight: bold;
}
.wallet-list .owl-stage-outer{
    overflow: visible;
}
.wallet-list .owl-dots{
    text-align: center;
}
.wallet-list .owl-dots .owl-dot{
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
    outline: 0;
}
.wallet-list .owl-dots .owl-dot span{
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #e1e6e6;
}
.wallet-list .owl-dots .owl-dot.active span{
    width: 16px;
    background-color: #016098;
}
@media only screen and (max-width:767px){
    .wallet-list .list{
        width: 100%;
    }
}

.transaction-history-action{
    padding-bottom: 0px;
}
.transaction-history-action .btn img{
    width: 20px;
}
.product-list:after{
    content: "";
    display: table;
    clear: both;
}
.product-list {
    margin: 0 -10px;
}
.product-list .product{
    width: 50%;
    float: left;
    padding: 0 10px;
    margin-bottom: 20px;
}
.product-list .product .product-inner{
    border: 1px solid #dcdcdc;
}
.product-list .product .thumb{
    position: relative;
    overflow: hidden;
}
.product-list .product .thumb:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.product-list .product .thumb img{    
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.product-list .product .product-detail{
    padding: 15px 20px;
}
.product-list .product .product-detail .product-name{
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-list .product .product-detail .product-price{
    color: #FF003B;
    font-weight: bold;
    font-size: 18px;
}
@media only screen and (max-width:992px){
    .product-list .product{
        width: 50%;
    }
}
@media only screen and (max-width:480px){
    .product-list{
        margin: 0 -3px;
    }
    .product-list .product{
        padding: 0px 3px;
    }
    .product-list .product .product-detail{
        padding: 12px;
    }
}

.transaction-list .list{
    margin-bottom: 15px;
}
.transaction-list .list > label,
.transaction-list .list a > label{
    color: #646464;
    font-weight: normal;
    font-size: 13px;
}
.transaction-list .list .inner{
    width: 100%;
    position: relative;
    border: 1px solid #dcdcdc; 
    padding: 10px 15px;
}
.transaction-list .list .inner:after{
    content: "";
    display: table;
    clear: both;
}
.transaction-list .list .inner label.transaction-id{ 
    color: #000;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}
.transaction-list .list .thumb{
    float: left;
    width: 100px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}
.transaction-list .list .thumb:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.transaction-list .list .thumb img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.transaction-list .list .transaction-desc{
    display: inline-block;
    vertical-align: top;
}
.transaction-list .list .transaction-desc .product-name{
    font-weight: bold;
    color: #646464;
}
.transaction-list .list .transaction-desc ul{
    list-style: none;
    padding: 0;
    margin: 0 0 5px;
    color: #999;
}
.transaction-list .list .transaction-desc ul li{
    display: inline-block;
    padding-right: 15px;
    font-size: 12px;
}
.transaction-list .list .merchant{
    color: #999;
    font-size: 12px;
}
.transaction-list .list .product-price{
    color: #ff003b;
    font-weight: bold;
    font-size: 18px;
}
.transaction-list .list .date{
    color: #999;
    position: absolute;
    right: 15px;
    bottom: 12px;
    font-size: 12px;
}
.transaction-list .action{
    text-align: center;
}
.transaction-msg{    
    text-align: center;
    background: #EEE;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 30px 40px;
    width: 80%;
    margin: 0 auto;
}
.transaction-msg.success{  
    background: #e5fffb;
    border: 1px solid #00bc9f;
}
.transaction-msg.fail{  
    background: #ffecec;
    border: 1px solid #bc0000;
}
@media only screen and (max-width:767px){
    .transaction-list .list .product-price{
        position: relative;
        right: auto;
        top: auto;
    }
    .transaction-msg{
        width: 100%;
        padding: 30px 20px;
    }
}
@media only screen and (max-width:480px){
    .transaction-list .list .thumb{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .transaction-list .list .date{
        position: relative;
        bottom: auto;
        right: auto;
        text-align :right;
    }
}
.cashout-list .list .inner{
    position: relative;
    border: 1px solid #dcdcdc;
    padding: 14px 20px;
    margin-bottom: 15px;
}
.cashout-list .list .inner h4{
    color: #ff003b;
    font-size: 24px;
    margin: 0 0 5px;
}
.cashout-list .list .inner ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #646464;
}
.cashout-list .list .inner .date{
    color: #999;
    text-align: right;
    font-size: 12px;
}
.cashout-list .list .inner .receipt{
    position: absolute;
    right: 20px;
    top: 15px;
}
.cashout-list .action{
    text-align: center;
}
@media only screen and (max-width:480px){
    .cashout-list .list .inner .receipt{
        position: relative;
        right: 0px;
        top: 0px;
        margin: 5px 0;
    }
}

.group-summary:after{
    content: "";
    display: table;
    clear: both;
}
.group-summary{
    margin: 0 -5px;
}
.group-summary .left,
.group-summary .right{
    padding: 0 5px;
    float: left;
    width: 50%;
}
.placement-list .list{
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
    text-align: center;
}
.placement-list .list:first-child{
    padding-top: 0;
}
.placement-list .list:last-child{
    padding-bottom: 0;
    border-bottom: 0px solid #dcdcdc;
}
.placement-list .list label{
    font-weight: normal;
    font-size: 13px;
    color: #646464;
}
.placement-list .list .amount{
    font-size: 24px;
    font-weight: bold;
    margin-top: -8px;
}
@media only screen and (max-width:767px){
    .group-summary .left,
    .group-summary .right{
        width: 100%;
    }
}

.news-list:after{
    content: "";
    display: table;
    clear: both;
}
.news-list{
    margin: 0 -5px;
}
.news-list .empty{
    background-color: #fafafa;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #aaa;
    border-radius: 6px;
}
.news-list .list{
    width: 50%;
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
}
.news-list .list .list-inner{
    position: relative;
    border-radius: 6px;
    background-color: #e6e6f0;
    padding: 5px;
}
.news-list .list .list-inner .label-new{
    position: absolute;
    top: 0;
    right: 15px;
    background: #e61e28;
    color: #FFF;
    padding: 3px 6px 5px;
    font-size: 13px;
    border-radius: 0 0 6px 6px;
}
.news-list .list .list-inner .second-level{
    border-radius: 6px;
    background-color: rgba(255,255,255,0.6);
    padding: 20px 30px;
}
.news-list .list .news-title{
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.news-list .list p{
    font-size: 14px;
    color: #646464;
    margin: 5px 0 0;
}
.news-list .list .date{
    font-size: 13px;
    color: #aaa;
    text-align: right;
    margin-top: 5px;
}
.single-news .news-title{
    font-size: 20px;
    font-weight: bold;
}
.single-news .date{
    font-size: 13px;
    color: #aaa;
    margin-bottom: 10px;
}
.single-news p{
    color: #646464;
}
.more{
    display: inline-block;
    color: #aaa;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 5px 6px;
}

@media only screen and (max-width:767px){
    .news-list{
        margin: 0;
    }
    .news-list .list{
        width: 100%;
        float: none;
        padding: 0;
    }
    .more{
        display: block;
        text-align: center;
    }
}

.my-profile{
    margin: 30px 0 20px;
    padding: 50px 40px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #007dc8;
    border-radius: 10px;
}
.my-profile .avatar{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
}
.my-profile .avatar:after{
    content: "";
    position: absolute;
    display: block;
    padding-bottom: 100%;
}
.my-profile .avatar img{
    width: 100%;
}
.my-profile .profile-content{
    padding-left: 15px;
    vertical-align: middle;
    display: inline-block;
}
.my-profile .username{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.my-profile p{
    margin: 0;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}
.my-profile .edit{
    float: right;
    color: #FFF;
    font-size: 12px;
    padding: 35px 0px 35px 20px;
    border-left: 1px dashed rgba(255, 255, 255, 0.3);
}
.my-profile .edit .icon-edit{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/icon/ic_edit.svg);
    height: 25px;
    width: 25px;
    display: block;
    margin: 0 auto;
}
.profile-function:after{
    content: "";
    display: table;
    clear: both;
}
.profile-function{
    margin: 0 -30px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    padding: 0;
    overflow: auto;
    display: block;
    list-style: none;
    padding: 0;
    white-space: nowrap;
}
@media only screen and (min-width:992px){
    .profile-function{
        overflow: visible;
        white-space: unset;
    }
}
.profile-function .list{
    position: relative;
    display: inline-block;
    width: auto;
    margin-right: -4px;
}
.profile-function .list a{
    padding: 15px 30px;
    text-align: center;
    display: block;
    color: #1e2255;
}
.profile-function .list.active a:after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom:0;
    left: 0;
    background-color: #e61e25;
}
.profile-function .list a i{
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.profile-function .list a .icon-general-info{
    background-image: url(../images/icon/ic_general_info.svg);
}
.profile-function .list a .icon-beneficiary{
    background-image: url(../images/icon/ic_beneficiary.svg);
}
.profile-function .list a .icon-downline{
    background-image: url(../images/icon/ic_downline.svg);
}
.profile-function .list a .icon-bank{
    background-image: url(../images/icon/ic_bank_info.svg);
}
.profile-function .list a .icon-login-password{
    background-image: url(../images/icon/ic_login_password.svg);
}
.profile-function .list a .icon-secure-password{
    background-image: url(../images/icon/ic_secure_password.svg);
}
.profile-function .list a .icon-setting{
    background-image: url(../images/icon/ic_setting.svg);
}
@media only screen and (max-width:767px){
    .my-profile{
        margin-top: 20px;
        padding: 25px 25px 10px;;
    }
    .my-profile .avatar{
        width: 80px;
    }
    .profile-function .list{
        width: auto;
    }
    .my-profile .edit{
        float: none;
        border-left: 0;
        border-top: 1px dashed rgba(255, 255, 255, 0.3);
        display: block;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }
    .my-profile .edit .icon-edit{
        display: inline-block;
        width: 20px;
        height: 22px;
        vertical-align: middle;
    }
}

.footer ul::after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 768px;
    background-color: #fafafa;
    border-top: 1px solid #dcdcdc;
}
.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li{
    float: left;
    width: 25%;
}
.footer ul li a{
    display: block;
    text-align: center;
    color: #000;
    font-size: 13px;
    padding: 10px 0;
}
.footer ul li a i{
    display: block;
    margin: 0 auto;
    height: 25px;
    width: 25px;
}
.icon-home{
    background-image: url(../images/icon/ic_home.svg);
    background-size: 100%;
}
.icon-mall{
    background-image: url(../images/icon/ic_mall.svg);
    background-size: 100%;
}
.icon-register{
    background-image: url(../images/icon/ic_register.svg);
    background-size: 100%;
}
.icon-trading{
    background-image: url(../images/icon/ic_trading.svg);
    background-size: 100%;
}
.icon-placement{
    background-image: url(../images/icon/ic_placement.svg);
    background-size: 100%;
}
.icon-profile{
    background-image: url(../images/icon/ic_profile.svg);
    background-size: 100%;
}
.icon-news{
    background-image: url(../images/icon/ic_news.svg);
    background-size: 100%;
}
.detail .footer{
    display: none;
}
@media only screen and (max-width:1024px) and (max-height:1366px){
    .footer{
        width: 100%;
        left: 0;
        margin-left: 0;
    }
}
@media only screen and (max-width:767px){
    .footer{
        width: 100%;
    }
    .footer ul li a{
        padding: 5px 0;
    }
    .footer ul li a i{
        height: 25px;
        width: 25px;
    }
}

.page-wrap.auth{
    border-top: 0;
    background:transparent;
}
.page-wrap.auth .main-header{
    display: none;
}
.auth-container{
    max-width: 450px;
    padding-top: 40px;
    margin: 0px auto;
}
.auth-container .inner{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.auth-container .title{
    position: relative;
    font-size: 18px;
    padding: 130px 40px 10px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000;
    background-size: cover;
}
.auth-container .title .brand{
    position: absolute;
    top: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 0 0 10px 10px;
    width: 100px;
    left: 50%;
    margin-left: -60px;
}
.auth-container .form{
    padding: 30px 40px;
}
.auth-container .form .form-group{
    position: relative;
    margin-bottom: 20px;
}
.auth-container .form .form-group .form-control{
    padding-left: 45px;
    background-color: #fafafa;
}
.auth-container .form.normal .form-group .form-control{
    padding-left:15px;
}
.auth-container .form .form-group i{
    position: absolute;
    left: 14px;
    top: 10px;
    width: 22px;
    height: 22px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.auth-container .form .form-group .icon-phone{
    background-image: url(../images/icon/auth_ic_phone.svg);
}
.auth-container .form .form-group .icon-password{
    background-image: url(../images/icon/auth_ic_password.svg);
}
.auth-container .form .form-group .icon-captcha{
    background-image: url(../images/icon/auth_ic_captcha.svg);
}
.auth-container .language{
    list-style: none;
    padding: 15px 0 0;
    margin: 0;
    text-align: center;
}
.auth-container .language li{
    display: inline-block;
    margin: 0 5px;
}
.auth-container .language li a{
    color: #646464;
}
.captcha-img{
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #dcdcdc;
}
.captcha-refresh{
    float: right;
}
.other-action{
    padding-top: 20px;
    text-align: center;
}
.other-action a{
    color: #000;
}
#btn-request_tac{
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px 15px;
    font-weight: bold;
    color: #00649b;
}
@media only screen and (max-width:480px){
    .page-wrap.auth{
        background-color: #FFF;
    }
    .page-wrap.auth .content{
        padding: 0;
        height: 100%;
    }
    .auth-container{
        padding-top: 0;
    }
    .auth-container .inner{
        padding-top: 0;
        border-radius: 0;
        height: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .auth-container .form{
        padding: 30px;
    }
    .auth-container .language{
        border-top: 1px solid #dcdcdc;
    }
}

.top-tabs{
    list-style: none;
    margin: -15px -30px 0;
    padding: 0;
    text-align: center;
}
.top-tabs li{
    position: relative;
    display: inline-block;
}
.top-tabs li a{
    display: block;
    padding: 18px 20px;
    color: #000;
     font-size: 16px;
}
.top-tabs li.active a:after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #e61e25;
}
.add-order{
    position: fixed;
    border-radius: 100%;
    background-color: #00649b;
    width: 40px;
    height: 40px;
    bottom: 80px;
    right: 50%;
    margin-right: -355px;
    background-image: url(../images/icon/ic_add_white.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}
.trading-action:after{
    content: "";
    display: table;
    clear: both;
}
.trading-action{
    margin-bottom: 20px;
}
.trading-action .order,
.trading-action .history{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    color: #000;
    -webkit-box-shadow: 0 3px 0 #d8eaf3;
    box-shadow: 0 3px 0 #d8eaf3;
}
.trading-action .history{
    float: right;
}
.trading-action a:active{
    margin-top: 2px;
    box-shadow: none;
}
.trading-action a i{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
.trading-action a .icon-existing-trade{
    background-image: url(../images/icon/ic_existing_trade.svg);
}
.trading-action a .icon-trade-history{
    background-image: url(../images/icon/ic_trade_history.svg);
}
.trading-list{
    
}
.trading-list .list{
    position: relative;
    padding: 25px 30px 30px;
    background-color: #FFF;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    color: #646464;
    overflow: hidden;
    margin-bottom: 20px;
}
.trading-list .list.empty{
    background-color: #f0f0f0;
    text-align: center;
    color: #aaa;
}
.trading-list .list:last-child{
    margin-bottom: 0;
}
.trading-list .list .price{
    font-weight: bold;
    font-size: 24px;
}
.trading-list .list .price.green{
    color: #008c06;
}
.trading-list .list .price.red{
    color: #e10000;
}
.trading-list .list .price .currency{
    display: inline-block;
    margin-right: 8px;
}
.trading-list .list .price span{
    font-size: 14px;
    color: #646464;
}
.trading-list .list .quantity label{
    font-weight: normal;
    margin-bottom: 0;
    font-size: 13px;
    margin-right: 15px;
}
.trading-list .list .user{
    margin-top: 5px;
    font-size: 13px;
}
.trading-list .list .user .username{
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
}
.trading-list .list .user .stars-rating{
    display: inline-block;   
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.stars-rating span{
    display: inline-block;    
    height: 20px;
    width: 20px;
    background-image: url(../images/icon/ic_star_gray.svg);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.stars-rating.fivestars span{
    background-image: url(../images/icon/ic_star_yellow.svg);
}
.stars-rating.fourstars span:nth-child(-n+4){
    background-image: url(../images/icon/ic_star_yellow.svg);
}
.stars-rating.threestars span:nth-child(-n+3){
    background-image: url(../images/icon/ic_star_yellow.svg);
}
.stars-rating.twostars span:nth-child(-n+2){
    background-image: url(../images/icon/ic_star_yellow.svg);
}
.stars-rating.onestar span:nth-child(-n+1){
    background-image: url(../images/icon/ic_star_yellow.svg);
}
.trading-list .list .payment-method{
    position: absolute;
    right: 30px;
    top: 25px;
    font-weight: bold;
    color: #000;
}
.trading-list .list .payment-method:before{
    content: "";
    height: 20px;
    width: 20px;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.trading-list .list .payment-method.bank-transfer:before{
    background-image: url(../images/icon/paymentmethod_ic_bank_transfer.png);
}
.trading-list .list .payment-method.alipay:before{
    background-image: url(../images/icon/paymentmethod_ic_alipay.png);
}
.trading-list .list .payment-method.wechatpay:before{
    background-image: url(../images/icon/paymentmethod_ic_wechatpay.png);
}
.trading-list .list .action{
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.trading-list .list .status{
    position: absolute;
    right: 30px;
    bottom: 20px;
    text-align: right;
}
.trading-list .list .status .label{
    display: inline-block;
    padding: 6px 15px;
    font-size: 13px;
    margin-bottom: 2px;
}
.trading-list .list .status .date{
    display: block;
    font-size: 12px;
    color: #AAA;
}
.trading-list .list .other-action{
    margin: 15px -30px -30px;
    border-top: 1px solid #dcdcdc;
    padding: 10px 30px;
    background-color: #fafafa;
    text-align: left;
}
.trading-list .list .other-action a{
    color: #000;
    font-size: 13px;
}
.trading-list .list .other-action .edit{
    float: right;
}
.trading-list .list.single{
    padding:  0;
}
.trading-list .list.single .price{
    text-align: center;
    font-size: 30px;
    padding: 12px 0;
    border-bottom: 1px solid #dcdcdc;
}
.trading-list .list.single .list-content{
    padding: 10px 0;
    background-color: #fafafa;
}
.trading-list .list.single .list-content .inner{
    max-width: 250px;
    margin: 0 auto;
}
.trading-list .list.single .list-content .list-row{
    padding: 5px 0;
    color: #646464;
}
.trading-list .list.single .list-content .list-row label{
    margin: 0;
    width: 40%;
    display: inline-block;
    font-weight: normal;
    vertical-align: top;
}
.trading-list .list.single .list-content .list-row .list-detail{
    width: 58%;
    display: inline-block;
    text-align: right;
    color: #646464;
    font-size: 15px;
    font-weight: bold;
}
.trading-list .list.single .list-content .list-row .list-detail .bank-name{
    display: block;
    font-weight: normal;
    font-size: 12px;
}
.trading-list .list.single .list-content.full {
    padding: 0;
}
.trading-list .list.single .list-content.full .inner{
    max-width: 100%;
    margin: 0 auto;
}
.trading-list .list.single .list-content.full .list-row{
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid #dcdcdc;
}
.trading-list .list.single .list-content.full .list-row:last-child{
    border-bottom: 0px solid #dcdcdc;
}
.trading-list .list.single .list-content .list-row label{
    width: 30%;
}
.trading-list .list.single .list-content .list-row .list-detail{
    width: 68%;
    text-align: left;
}
.trading-list .list.single .list-content .list-row .list-detail .extra-charges{
    font-weight: normal;
    font-size: 12px;
    color: #646464;
}
.trading-list .list.single .list-content .list-row .list-detail .total{
    position: absolute;
    right: 25px;
    top: 18px;
    font-size: 18px;
    color: #e10000;
}
.trading-list .list.single .list-content .list-row .list-detail .total .total-label{
    width: auto;
    font-size: 12px;
    color: #000;
    position: relative;
    top: 4px;
    margin-right: 8px;
    font-weight: bold;
}
.balance{
    display: block;
    text-align: center;
    font-size: 13px;
    padding: 5px 0;
    color: #000;
}
.amount-summary{
    border: 1px solid #dcdcdc;
    background-color: #fafafa;
    border-radius: 6px;
    margin-bottom: 15px;
}
.amount-summary .list{
    padding: 15px 25px;
    border-bottom: 1px solid #dcdcdc;
}
.amount-summary .list:last-child{
    border-bottom: 0px solid #dcdcdc;
}
.amount-summary .list label{
    margin-bottom: 0;
    font-weight: normal;
    color: #646464;
}
.amount-summary .list .amount{
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.amount-summary .list .amount.total{
    font-size: 20px;
    color: #e10000;
}

.order-status{
    border: 1px solid #dcdcdc;
    border-radius: 6px;
}
.order-status .buy-sell-status{
    padding: 20px 50px;
}
.order-status .buy-sell-status .buyer{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    padding-left: 45px;
    background-image: url(../images/icon/ic_buyer_seller_gray.svg);
    background-position: left 10px top 10px;
    background-size: 30px;
    background-repeat: no-repeat;
}
.order-status .buy-sell-status .seller{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    padding-left: 45px;
    float: right;
    background-image: url(../images/icon/ic_buyer_seller_gray.svg);
    background-position: left 10px top 10px;
    background-size: 30px;
    background-repeat: no-repeat;
}
.order-status .buy-sell-status .buyer.me,
.order-status .buy-sell-status .seller.me{
    background-image: url(../images/icon/ic_buyer_seller_white.svg);
    background-color: #007dc8;
    border: 1px solid #007dc8;
    color: #FFF;
}
.order-status .buy-sell-status .buyer label,
.order-status .buy-sell-status .seller label{
    margin: 0;
}
.order-status .buy-sell-status .buyer .username,
.order-status .buy-sell-status .seller .username{
    margin-top: -5px;
}
.order-status .buy-sell-status .status-bar{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 2px; 
    background-color: #dcdcdc;
    margin: 25px auto;
    width: 90%;
}
.order-status .buy-sell-status .status-bar li{
    display: inline-block;
    width: 33.33%;
    margin-right: -4px;
}
.order-status .buy-sell-status .status-bar li span{
    height: 10px;
    width: 10px;
    display: block;
    background: #dcdcdc;
    border-radius: 100%;
     position: relative;
}
.order-status .buy-sell-status .status-bar li:first-child span{
    top: -4px;
}
.order-status .buy-sell-status .status-bar li:nth-child(2){
    text-align: center;
}
.order-status .buy-sell-status .status-bar li:nth-child(2) span{
    margin: 0 auto;
    top: -4px;
}
.order-status .buy-sell-status .status-bar li:nth-child(3){
    text-align: right;
}
.order-status .buy-sell-status .status-bar li:nth-child(3) span{
    position: absolute;
    right: 0;
    top: -4px;
}
.order-status .buy-sell-status .status-bar.first-step li:first-child span{
    background-color: #008c06;
}
.order-status .buy-sell-status .status-bar.second-step:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: #008c06;
}
.order-status .buy-sell-status .status-bar.second-step li:nth-child(-n+2) span{
    background-color: #008c06;
}
.order-status .buy-sell-status .status-bar.third-step:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #008c06;
}
.order-status .buy-sell-status .status-bar.third-step li:nth-child(-n+3) span{
    background-color: #008c06;
}
.order-status .buy-sell-status .status-bar li label{
    font-weight: normal;
    color: #646464;
}
.order-status .message{
    padding: 25px 15px;
    border-top: 1px solid #dcdcdc;
    background-color: #fafafa;
    text-align: center;
}
.order-status .message h4{
    color: #000;
    margin: 0;
    font-size: 16px;
}
.order-status .message #countdown{
    color: #008c06;
    font-weight: bold;
}
.order-status .message p{
    margin: 0;
    color: #646464;
}
.order-status .message.success{
    background-color: #96fa5a;
    background-image: url(../images/icon/alert_ic_success.svg);
    background-position: center top 20px;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-top: 55px;
    color: #000;
}
.order-status .message.success h4{
    font-size: 16px;
}
.payment-proof:after{
    content: "";
    display: table;
    clear: both;
}
.payment-proof{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
}
.payment-proof .image-container{
    float: left;
    width: 25%;
    position: relative;
    overflow: hidden;
}
.payment-proof .image-container:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.payment-proof .image-container img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.8s ease;
}
.payment-proof .message{
    float: left;
    width: 73%;
    margin-left: 2%;
}
.payment-proof .message h5{
    margin: 0 0 10px;
    font-weight: bold;
    color: #646464;
}
.payment-proof .empty{
    text-align: center;
    color: #AAA;
    font-size: 14px;
    padding: 40px 10px;
    border: 2px dashed #dcdcdc;
    background-color: #f0f0f0;
}
.rating{
    padding: 15px 0;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
}
.rating h5{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}
.rating p{
    line-height: 1.2;
    margin: 5px 0;
}
.rating .star-radio{
    margin: 15px 0 ;
}
@media only screen and (max-width:1024px) and (max-height:1366px){
    .add-order{
        right: 30px;
        margin-right: 0px;
    }
}
@media only screen and (max-width:768px){
    .add-order{
        bottom: 70px;
        right: 30px;
        margin-right: 0px;
    }
}
@media only screen and (max-width:480px){
    .trading-list .list{
        text-align: center;
        padding: 15px 0px;
    }
    .trading-list .list .user .stars-rating{
        display: block;
        margin-left: 0;
    }
    .trading-list .list .payment-method{
        position: relative;
        display: inline-block;
        left: 0;
        top: 0;
        margin-top: 15px;
    }
    .trading-list .list .action{
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #dcdcdc;
    }
    .trading-list .list .status{
        position: relative;
        text-align: center;
        right: 0;
        bottom: 0;
        border-top: 1px solid #dcdcdc;
        padding-top: 10px;
        margin-top: 10px;
    }
    .trading-list .list .other-action{
        margin: 15px 0px -15px;
        padding: 10px 15px;
        text-align: center;
    }
    .trading-list .list .other-action a{
        padding: 0 10px;
    }
    .trading-list .list .other-action .edit{
        float: none;
    }
    .trading-list .list.single .list-content .inner{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    .trading-list .list.single .list-content .list-row{
        padding: 5px 15px;
    }
    .trading-list .list.single .list-content .list-row label{
        text-align: left;
    }
    .trading-list .list.single .list-content .list-row .list-detail .total{
        position: relative;
        right: 0;
        top: 0;
    }
    .order-status .buy-sell-status{
        padding: 15px 20px;
    }
    .order-status .buy-sell-status .status-bar{
        width: 100%;
    }
    .order-status .message{
        padding: 25px 10px;
    }
    .order-status .buy-sell-status .buyer,
    .order-status .buy-sell-status .seller{
        background-position: center top 10px;
        padding-left: 20px;
        padding-top: 45px;
        text-align: center;
    }
    .payment-proof .image-container{
        float: none;
        width: 60%;
        margin: 0 auto;
    }
    .payment-proof .message{
        float: none;
        width: 100%;
        margin-left: 0%;
    }
    .payment-proof .message h5{
        font-size: 16px;
        text-align: center;
        margin: 10px 0;
    }
}

.downline-list .list{
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
}
.downline-list .list .title{
    font-size: 16px;
    font-weight: bold;
    color: #2e6d5e;
    margin-bottom: 5px;
}
.downline-list .list ol{
    padding-left: 15px;
}
.downline-list .list ol li{    
    margin-bottom: 10px;
    color: #646464;
    font-size: 16px;
}

.table-primary{
    border: 1px solid #dcdcdc;
}
.table-primary thead tr th {
    padding: 15px 20px;
    color: #FFF;
    background-color: #006d5d;
}
.table-primary tbody tr td {
    padding: 15px 20px;
}

.general-form{
    padding: 15px 0;
}
.control-label{
    color: #646464;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 2px;
    display: block;
}
.form-control{
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    height: 42px;
}
textarea.form-control{
    resize: vertical;
}
input[type="file"].form-control{
    background-color: #fff;
    height: 36px;
}
.checkbox,
.radio{
    display: block;
    font-weight: normal;
}
.checkbox.checkbox-inline,
.radio.radio-inline{
    display: inline-block;
    margin: 0;
    padding: 6px 0;
    margin-right: 10px;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"]{
    position: absolute;
    visibility: hidden;
}
.checkbox input[type="checkbox"] + span:before{
    position: relative;
    top: 2px;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #dcdcdc;
    margin-right: 8px;
}
.checkbox input[type="checkbox"]:checked + span:before{
    background-color: #00649b;
    border-color: #00649b;
    background-image: url(../images/icon/ic_checkbox_checked.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.radio input[type="radio"] + span:before{
    position: relative;
    top: 2px;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 1px solid #dcdcdc;
    margin-right: 8px;
}
.radio input[type="radio"]:checked + span:before{
    background-color: #00649b;
    border-color: #00649b;
    background-image: url(../images/icon/ic_radio_checked.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.multiple-row input,
.multiple-row .input-container{
    margin-bottom: 10px;
}
.multiple-row input:last-child,
.multiple-row .input-container:last-child{
    margin-bottom: 0px;
}
.input-container{
    position: relative;
}
.input-container .btn{    
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 30px;
    font-weight: bold;
}
.input-container .input-label{
    position: absolute;
    right: 15px;
    top: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 12px;
}
.form-filled{
    margin-bottom: 15px;
}
.form-filled .form-group{
    padding: 8px 15px;
    margin-bottom: -1px;
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
}
.form-filled .form-group label{
    font-weight: normal;
    color: #646464;
    font-size: 13px;
    display: inline-block;
    width: 25%;
}
.form-filled .form-group .form-content{
    color: #000;
    font-size: 16px;
    margin-top: -6px;
}
.form-action{
    text-align: center;
}
.star-radio{
    direction: rtl;
    text-align: center;
}
.star-radio label.star{
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.star-radio label.star:after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icon/ic_star_gray.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.star-radio input.star-input{
    position: absolute;
    visibility: hidden;
}
.star-radio input.star-input:checked + label.star:after {
    background-image: url(../images/icon/ic_star_yellow.svg);
}
input.star-input:checked ~ label.star:after {
    background-image: url(../images/icon/ic_star_yellow.svg);
}
input.star-input:checked ~ label.star:after {
    background-image: url(../images/icon/ic_star_yellow.svg);
}
label.star:hover ~ label.star:after,
label.star:hover:after {
    
    background-image: url(../images/icon/ic_star_yellow.svg);
}

label.star:hover { 
    -webkit-transform: rotate(-15deg) scale(1.2); 
    transform: rotate(-15deg) scale(1.2); 
}

.btn{
    padding: 12px 30px;
}
.btn.btn-sm{
    padding: 6px 15px;
}
.btn-default{
    background-color: #969696;
    border-color: #969696;
    font-weight: 500;
    color: #fff;
}
.btn-default:hover{
    background-color: #969696;
    border-color: #969696;
    font-weight: 500;
    color: #fff;
}
.btn-default:focus,
.btn-default:focus:active,
.btn-default:active{
    background-color: #646464;
    font-weight: 500;
    color: #fff;
}
.btn-primary,
.btn-primary:hover{
    background-color: #00bc9f;
    border-color: #00bc9f;
    font-weight: 500;
}
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:active{
    background-color: #00937c;
    border-color: #00937c;
    font-weight: 500;
}
.btn-primary-outline{
    color: #000;
    background-color: transparent;
    border-color: #00bc9f;
    font-weight: 500;
}

.alert{
    border-radius: 6px;
}
.alert.alert-success{
    background-color: #96fa5a;
    border: 0;
    color: #000;
    background-image: url(../images/icon/alert_ic_success.svg);
    background-position: left 15px top 15px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 50px;
}
.alert.alert-danger{
    background-color: #ff9673;
    border: 0;
    color: #000;
    background-image: url(../images/icon/alert_ic_error.svg);
    background-position: left 15px top 15px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 50px;
}
.alert.alert-info{
    background-color: #82c8ff;
    border: 0;
    color: #000;
    background-image: url(../images/icon/alert_ic_info.svg);
    background-position: left 15px top 15px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 50px;
}
.alert strong{
    display: block;
    padding: 3px 0;
}
.alert ul,
.alert ol{
    padding-left: 15px;
    font-size: 13px;
}

.modal-header{
    padding: 15px 30px;
    position: relative;
}
.modal-header .modal-title{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.modal-header .close{
    position: absolute;    
    top: 18px;
    right: 20px;
}
.modal-body{
    padding: 20px 30px;
}

/* -- QR code style -- */
.general-container .qr-container{
    text-align: center;
}

.qr-container .qr-heading{
    margin-top: 5%;
    font-size: 24px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
    background-color: #00bc9f;
    border-color: #00c09e;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_desc:after {
    content: "\e156";
    font-family: 'fontawesome';
    content: "\f107";
    color: #FFF;
    opacity: 1;
}
table.dataTable thead .sorting_asc:after{
    font-family: 'fontawesome';
    content: "\f106";
    color: #FFF;
    opacity: 1;
}
table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after{
    bottom: 14px;
}

.transaction-method {
    margin-bottom: 15px;
}
.transaction-method label{
    width: 33.33%;
    padding-right: 15px;
    margin-bottom: 8px;
    margin-right: -4px;
}
.transaction-method label input[type="checkbox"]{
    margin-right: 5px;
}
@media only screen and (max-width:767px){
    .transaction-method label{
        width: 50%;
    } 
}
@media only screen and (max-width:480px){
    .transaction-method label{
        width: 100%;
    } 
}