@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e7e7e8;
    font-family: "Roboto", Microsoft Yahei, sans-serif;
}
a,
a:hover,
a:focus{
    text-decoration: none;
}
.pace .pace-progress{
    background: #00bc9f;
}

img{
    max-width: 100%;
}

.page-wrap{
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #F2F4F3;
}
.main-header{
    padding: 10px 30px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #FFF;
    text-align: center;
}
.main-header .brand{
    width: 120px;
    margin: 0 auto;
}
.content{
    padding: 25px 30px 0;
    padding-bottom: 75px;
}
.styled-heading{
    font-size: 16px;
    margin-bottom: 10px;
}
.styled-heading.center{
    text-align: center;
}

.content-container{
    background-color: #FFF;
    max-width: 700px;
    margin: 0 auto;
}
.content-container:after{
    content: "";
    display: table;
    clear: both;
}
.content-container .primary{
    width: 70%;
    float: left;
    padding: 20px 30px;
}
.content-container .primary.full{
    width: 100%;
}
.content-container .primary.left{
    border-right: 1px solid #dcdcdc;
}
@media only screen and (max-width:767px){
    .content,
    .content .container{
        padding: 0;
    }
}

.general-form{
    padding: 15px 0;
}
.control-label{
    color: #646464;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 2px;
    display: block;
}
.form-control{
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    height: 42px;
}
textarea.form-control{
    resize: vertical;
}
input[type="file"].form-control{
    background-color: #fff;
    height: 36px;
}
.checkbox,
.radio{
    display: block;
    font-weight: normal;
}
.checkbox.checkbox-inline,
.radio.radio-inline{
    display: inline-block;
    margin: 0;
    padding: 6px 0;
    margin-right: 10px;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"]{
    position: absolute;
    visibility: hidden;
}
.checkbox input[type="checkbox"] + span:before{
    position: relative;
    top: 2px;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #dcdcdc;
    margin-right: 8px;
}
.checkbox input[type="checkbox"]:checked + span:before{
    background-color: #00735b;
    border-color: #00735b;
    background-image: url(../images/icon/ic_checkbox_checked.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.radio input[type="radio"] + span:before{
    position: relative;
    top: 2px;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 1px solid #dcdcdc;
    margin-right: 8px;
}
.radio input[type="radio"]:checked + span:before{
    background-color: #00649b;
    border-color: #00649b;
    background-image: url(../images/icon/ic_radio_checked.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.multiple-row input,
.multiple-row .input-container{
    margin-bottom: 10px;
}
.multiple-row input:last-child,
.multiple-row .input-container:last-child{
    margin-bottom: 0px;
}
.input-container{
    position: relative;
}
.input-container .btn{    
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 30px;
    font-weight: bold;
}
.input-container .input-label{
    position: absolute;
    right: 15px;
    top: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 12px;
}
.form-filled{
    margin-bottom: 15px;
}
.form-filled .form-group{
    padding: 8px 15px;
    margin-bottom: -1px;
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
}
.form-filled .form-group label{
    font-weight: normal;
    color: #646464;
    font-size: 13px;
    display: inline-block;
    width: 100%;
}
.form-filled .form-group .form-content{
    color: #000;
    font-size: 16px;
    margin-top: -4px;
    margin-bottom: 0;
}
.form-action{
    text-align: center;
}
.star-radio{
    direction: rtl;
    text-align: center;
}
.star-radio label.star{
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.star-radio label.star:after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icon/ic_star_gray.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.star-radio input.star-input{
    position: absolute;
    visibility: hidden;
}
.star-radio input.star-input:checked + label.star:after {
    background-image: url(../images/icon/ic_star_yellow.svg);
}
input.star-input:checked ~ label.star:after {
    background-image: url(../images/icon/ic_star_yellow.svg);
}
input.star-input:checked ~ label.star:after {
    background-image: url(../images/icon/ic_star_yellow.svg);
}
label.star:hover ~ label.star:after,
label.star:hover:after {
    
    background-image: url(../images/icon/ic_star_yellow.svg);
}

label.star:hover { 
    -webkit-transform: rotate(-15deg) scale(1.2); 
    transform: rotate(-15deg) scale(1.2); 
}

.btn{
    padding: 12px 30px;
}
.btn-default{
    background-color: #969696;
    border-color: #969696;
    font-weight: 500;
    color: #fff;
}
.btn-default:hover{
    background-color: #969696;
    border-color: #969696;
    font-weight: 500;
    color: #fff;
}
.btn-default:focus,
.btn-default:focus:active,
.btn-default:active{
    background-color: #646464;
    font-weight: 500;
    color: #fff;
}
.btn-primary{
    background-color: #00715C;
    border-color: #00715C;
    font-weight: 500;
}
.btn-primary:hover{
    background-color: #00715C;
    border-color: #00715C;
    font-weight: 500;
}
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:active{
    background-color: #005646;
    font-weight: 500;
}

.alert{
    border-radius: 6px;
}
.alert.alert-success{
    background-color: #96fa5a;
    border: 0;
    color: #000;
    background-image: url(../images/icon/alert_ic_success.svg);
    background-position: left 15px top 15px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 50px;
}
.alert.alert-danger{
    background-color: #ff9673;
    border: 0;
    color: #000;
    background-image: url(../images/icon/alert_ic_error.svg);
    background-position: left 15px top 15px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 50px;
}
.alert.alert-info{
    background-color: #82c8ff;
    border: 0;
    color: #000;
    background-image: url(../images/icon/alert_ic_info.svg);
    background-position: left 15px top 15px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 50px;
}
.alert strong{
    display: block;
    padding: 3px 0;
}
.alert ul,
.alert ol{
    padding-left: 15px;
    font-size: 13px;
}

.modal-header{
    padding: 15px 30px;
    position: relative;
}
.modal-header .modal-title{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.modal-header .close{
    position: absolute;    
    top: 18px;
    right: 20px;
}
.modal-body{
    padding: 20px 30px;
}

/* -- QR code style -- */
.general-container .qr-container{
    text-align: center;
}

.qr-container .qr-heading{
    margin-top: 5%;
    font-size: 24px;
}