/* start: page wrap */
html, body {
  height: 100%;
  font-family: 'Open Sans', Microsoft YaHei, sans-serif;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -40px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
/* end: page wrap */

/* start: navbar */
.navbar-brand {
    display: inline-table;
    padding:0px;
    text-align: center;
    position: absolute;
    width: 75px;
    top: -30px;
}
.navbar-brand.auth{
    top: 0px;
}
.navbar-brand:after{
	content:"";
	height: 135px;
	width: 135px;
	position: absolute;
	background-image:url(../images/admin_logo_after.png);    
	left: -32px;
    top: -20px;
}
.navbar-brand .logo {
	position: relative;
	z-index: 1;
    width: 100%;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.navbar-brand label {
	position: relative;
	z-index: 1;
	font-weight: bold;
	text-transform: uppercase;
	color: #ccc;
	font-size: 12px
}
.navbar-top {
	z-index: auto;
    min-height: initial;
    margin-bottom: 0;
	border: 0;    
	background: #343e45;
    background: -moz-linear-gradient(top, #343e45, #373737);
    background: -webkit-linear-gradient(top, #343e45, #373737);
    background: linear-gradient(to bottom, #343e45, #373737);
}

.navbar-top .navbar-nav > li > a {
    color:#ccc;
    padding-top: 5px;
    padding-bottom: 5px;
	font-size: 90%;
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:active,
.navbar-top .navbar-nav > li > a:focus {
    background-color: transparent;
    color:#fff;
}
.current-open{
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.open .current-open{
	background: rgba(255, 255, 255, 0.05)!important;
}
.language-dropdown {
	display: block;
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.open .language-dropdown {
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
}

.navbar-main {
    z-index: 10;
	background-color: #1e1e23;
	margin-bottom: 0;
	border: 0;
}
.navbar-main .container{
	position: relative;
}
.navbar-default .navbar-nav>li>a{
	color: #eee;
  	font-family: 'Montserrat';
	font-size: 90%;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active{
	color: #fff;
	background: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: rgba(255,255,255,.15);
	color: #fff;
}

.nav.navbar-nav > li > ul > li > a > .fa{
	margin-right: 5px;
	width: 20px;
	text-align: center;
}

.navbar-main .first.dropdown-menu{
	min-width: 240px;
	margin: 0;
	opacity: 0;
	display: block;
	visibility: hidden;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
}
.navbar-main.navbar-admin .first.dropdown-menu{
	left: auto;
	right: 0;
}
.navbar-main .open .first.dropdown-menu{
	visibility: visible;
	opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.navbar-main .dropdown > .dropdown-toggle:after{
	content: "\f107";
	font-family: "FontAwesome";
	float: right;
	margin-left: 10px;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.navbar-main .secondary.dropdown-toggle{
	position: relative;
}
.navbar-main .dropdown.open > .dropdown-toggle:after{
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.navbar-main .secondary.dropdown-toggle:after{
	content: "\f105";
	font-family: "FontAwesome";
	position: absolute;
	right: 15px;
}

.trade-cta{
	position: absolute;
	right: 0;
	top: 0;
    padding: 18px 15px;
	text-align: center;
	overflow: hidden;
	-o-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.trade-cta .fa{
	font-size: 25px;
	display: block;
	font-family: "FontAwesome";
}

.trade-cta a{
	color: #eee;
}
.trade-cta a span{
	color: yellow;
 	font-family: 'Montserrat' , Microsoft YaHei , sans-serif;
}
.trade-cta a:hover,
.trade-cta a:focus{
	text-decoration: none;
	color: #fff;
}

.wallet-toggle{
	display: none;
}
.navbar-admin .navbar-nav>li>a{
	padding: 20px 10px;
}
@media (max-width: 1280px){
	.navbar-admin .navbar-nav>li>a{
   		font-size: 85%;
	}
}

@media (min-width: 992px) {
	.sidebar-toggle{
		display: none;
	}
    .navbar-main .navbar-nav {
        position: relative;
		float: none;
		padding-left: 100px;
		width: 100%;
		-o-transition: all linear 0.2s;
		-ms-transition: all linear 0.2s;
		-moz-transition: all linear 0.2s;
		-webkit-transition: all linear 0.2s;
		transition: all linear 0.2s;
    }
	.navbar-main .navbar-nav.public{
		left: 0;
	}
	.main-header.is-hidden .navbar-brand img.logo {
		width: 100px;
	}
	.main-header.is-hidden .trade-cta {
		padding: 12px;
	}
	.main-header.is-hidden .trade-cta .fa{
		font-size: 20px;
	}
	.main-header.is-hidden .navbar-nav {
		top: 8px;
	}
}

@media (max-width: 1200px) {
	.navbar-main.navbar-admin .navbar-nav{
		float: none;
		padding-left: 85px;
	}
	.navbar-main.navbar-admin .navbar-nav li a{
    	padding: 15px 5px;
	}
	.navbar-main.navbar-admin .navbar-nav li .dropdown-menu li a{
    	padding: 5px 20px;
	}
}

@media (max-width: 991px) {
	.navbar-header{
		float: none;
	}
	.navbar-brand{
		top: 0;
		width: 60px;
		padding: 2px;
	}
	.navbar-brand:after{
		display: none;
	}
	.navbar-brand label{
		position: absolute;
		top: 0;
		left: 100%;
		white-space: nowrap;
		padding: 20px 10px;
		border-left: 1px solid rgba(255,255,255,0.1);
	}
	.sidebar-toggle{
		position: relative;
		top:0;
		float: right;
		padding: 11px;
		color: #eee;
		text-align: center;
    	border-left: 1px solid rgba(255,255,255,0.1);
	}
	.sidebar-toggle:hover,
	.sidebar-toggle:focus{
		color: #fff;
		text-decoration: none;
	}
	.sidebar-toggle .fa{
		font-size: 20px;
		display: block;
	}
	.sidebar-toggle span{
		text-transform: capitalize;
		font-family: 'Montserrat', Microsoft YaHei , sans-serif;;
	}
	.sidebar-overlay{
		height: 100%;
		width: 0%;
		background-color: rgba(0,0,0,0.6);
		position: fixed;
		top:0;
		left: 0;
	}
	.sidebar-overlay.sidebar-open{
		width: 100%;
	}
	#sidebar{
		width: 50%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		top: 0;
		right: 0;
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-ms-transition: all 0.8s cubic-bezier(0.345, 0.005, 0.07, 1);
		-o-transition: all 0.8s cubic-bezier(0.345, 0.005, 0.07, 1);
		-moz-transition: all 0.8s cubic-bezier(0.345, 0.005, 0.07, 1);
		-webkit-transition: all 0.8s cubic-bezier(0.345, 0.005, 0.07, 1);
		transition: all 0.8s cubic-bezier(0.345, 0.005, 0.07, 1);
		background: #1e1e23;
	}
	#sidebar.sidebar-open{
		-o-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	#sidebar .navbar-nav{
		margin: 0;
		padding-left: 0;
	}
	.navbar-main.navbar-admin .navbar-nav li.divider{
		display: none;
	}
	#sidebar .navbar-nav li {
		float: none;
		width: 100%;
	}
	#sidebar .navbar-nav li a{
		padding: 12px 25px;
		font-size: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.05);
		overflow: hidden;
		clear: both;
		color: #fff;
	}
	#sidebar .navbar-nav li a:active{
		background: transparent;
	}
	#sidebar .navbar-nav .first.dropdown-menu{
		position: relative;
		background: rgba(0,0,0,0.2);
		padding: 0;
		opacity: 1;
		height: 0;
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-moz-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
		-o-transform-origin: top;
		-ms-transform-origin: top;
		-moz-transform-origin: top;
		-webkit-transform-origin: top;
		transform-origin: top;
	}
	#sidebar .navbar-nav .open .first.dropdown-menu{
		height: 100%;
		-o-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	#sidebar .navbar-nav li .first.dropdown-menu li a{
		color: #eee;
		border-bottom: 0;
	}
	#sidebar .navbar-nav .secondary.dropdown-menu{
		background: rgba(0,0,0,0.1);
		padding: 10px 0;
	}
	#sidebar .navbar-nav .secondary.dropdown-menu li a{
    	padding: 5px 10px 5px 50px;
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
		background: transparent;
		border: 0;
	}
	.carousel-indicators{
		z-index: 0;
	}
    .trade-cta{
		padding: 11px;
		position: relative;
		float: right;
	}
	.trade-cta .fa{
		font-size: 20px;
	}
	.trade-cta a span{
		color: #eee;
	}
}


@media (max-width: 480px) {
	#sidebar{
		width: 75%;
	}
	.navbar-brand {
		width: 50px;
		padding: 3px;
	}
	.navbar-brand label{
		padding: 15px 10px;
	}
	.sidebar-toggle,
	.trade-cta{
		padding: 8px 10px 5px;
	}	
	.sidebar-toggle .fa,
	.trade-cta .fa{
		font-size: 16px;
	}
}

/* menu auto hide effect */
@media only screen and (min-width: 992px) {
	.content-wrapper{
		padding-top: 110px;
		margin-bottom: 20px;
	}
	.main-header {
		height: 30px;
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #ffffff;
		/* Force Hardware Acceleration */
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		will-change: transform;
		-webkit-transition: -webkit-transform .5s;
		transition: -webkit-transform .5s;
		transition: transform .5s;
		transition: transform .5s, -webkit-transform .5s;
	}
	.main-header::after {
	clear: both;
	content: "";
	display: block;
	}
	.main-header.is-hidden {
	-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
			transform: translateY(-100%);
	}

	.navbar-main {
	position: relative;
	z-index: 1;
	clear: both;
	width: 100%;
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	will-change: transform;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	}
	.navbar-main::after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		height: 100%;
		width: 35px;
		pointer-events: none;
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
	}
	.navbar-main.nav-end::after {
		opacity: 0;
	}
	.navbar-main.fixed {
	position: fixed;
		top: 30px;
		box-shadow: 0 -6px 0 #25283D;
	}
	.navbar-main.slide-up {
	-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
			transform: translateY(-30px);
	}
}


/* end: navbar */

/* start: wallet bar */
.wallet-container{
	background-color: #043e73;
}
.wallet-box:after {
    content: '';
	display: table;
	clear: both;
}
.wallet-box .item {
    width: 16.6%;
	float: left;
	padding: 8px 10px;
	color: #ddd;
	text-align: center;
}
.wallet-box .item span{
	font-size: 11px;
}
.wallet-box .item h5{
	margin: 0;
	color: yellow;
}

@media (min-width:601px){
	.wallet-box .row-1{
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
}
@media (max-width:600px){
	.wallet-toggle{
		display: block;
		float: right;
		padding: 11px;
		color: #eee;
		text-align: center;
    	border-right: 1px solid rgba(255,255,255,0.1);
	}
	.wallet-toggle:hover,
	.wallet-toggle:focus{
		color: #fff;
		text-decoration: none;
	}
	.wallet-toggle .fa{
		font-size: 20px;
		display: block;
		font-family: "FontAwesome";
	}
	.wallet-toggle span{
		text-transform: uppercase;
		font-family: 'Montserrat', Microsoft YaHei , sans-serif;;
	}
	.wallet-container{
		display: block;
		height: 0;
    	overflow: hidden;
		visibility : hidden;
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-moz-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
		-o-transform-origin: top;
		-ms-transform-origin: top;
		-moz-transform-origin: top;
		-webkit-transform-origin: top;
		transform-origin: top;
		-ms-transition: all linear .2s;
		-o-transition: all linear .2s;
		-moz-transition: all linear .2s;
		-webkit-transition: all linear .2s;
		transition: all linear .2s;
	}
	.wallet-container.open{
		height: 100%;
		visibility: visible;
		-o-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.wallet-box .container{
		padding: 0;
	}
	.wallet-box .item{
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
}
@media (max-width: 480px) {
	.wallet-toggle{
		padding: 8px 10px 5px;
	}	
	.wallet-toggle .fa{
		font-size: 16px;
	}
}
/* end: wallet bar */

/* -- GENERAL CONTENT -- */
@media (min-width: 1600px){
	.container{
		width: 1500px;
	}
}
.page-title{
	padding: 15px 0;
	margin-bottom: 15px;
	font-family: 'Montserrat', Microsoft YaHei, sans-serif;
}
.page-title h2{
	margin: 0;
    font-weight: bold;
}
.login-notice{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 85%;
    color: #105ea5;
    margin-bottom: 15px;
}
.public-container,
.admin-container{
	padding: 15px 0;
}
.admin-container h2:first-child{
    margin: 10px 0 15px;
    font-weight: bold;
}

/* --- CAROUSEL SLIDE --- */
#myCarousel{
	margin: 20px 15px;
}
#myCarousel:before{
	content: "";
	height: 120px;
	width: 120px;
	background-image: url('../images/slide-corner.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	top: -15px;
	left: -15px;
}
#myCarousel:after{
	content: "";
	height: 120px;
	width: 120px;
	background-image: url('../images/slide-corner.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
	bottom: -15px;
	right: -15px;
	transform: rotate(180deg);
}
@media (max-width:480px){
	#myCarousel:before{
		height: 60px;
		width: 60px;
	}
	#myCarousel:after{
		height: 60px;
		width: 60px;
	}
}

/* start: form control override */
.form-control {
    border-color: #136c9e;
}

.form-control[disabled], fieldset[disabled] .form-control {
	color: #ddd;
	border-color: #ccc;
}
/* end: table striped override */

/* start: table striped override */
.table-striped>tbody>tr:hover>td {
    background-color: rgba(0,95,160,0.25);
}
/* end: form control override  */

/* start: footer */
.site-footer {
    color: #aaa;
    background-color: #222;
    padding: 14px 0;
    font-size: 80%;
	/*margin-top: 20px;*/
}

.site-footer, .page-wrap:after {
    height: 40px;
}
/* end: footer */ 

/* ------ Button ------- */
.btn-primary{
	background-color: #105ea5;
	border-color: #105ea5;
}
.btn-primary:hover{
	background-color: #06507f
}
.btn{
	position: relative;
	overflow: hidden;
}

/* .btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(255,255,255,0.2);
  border-radius: 100%;
  opacity: .6;

  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.btn:not(:active):after {
  animation: ripple 1s ease-out;
} */
/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* fixes initial animation run, without user input, on page load.
 */
.btn:after {
  visibility: hidden;
}

.btn:focus:after {
  visibility: visible;
}


/* ------ LOGIN ------ */
body.login{
	background-image: url('../images/login-bg.jpg');
	background-size: container;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
.login-container{
	position: relative;
	width: 40%;
	background: rgba(255,255,255,0.95);
	height: 100%;
    box-shadow: 1px 1px 5px #999;
}
.login-container .copyright-text{
	position: absolute; 
	width: 100%;
	bottom: 0;
	text-align: center;
	padding-bottom: 10px;
	font-size: 80%;
    color: #105ea5;
    font-weight: bold;
}
.login-container .login-brand{
	text-align: center;
    padding: 30px 10px 15px;
}
.login-container .login-brand img{
	width: 90px;
}
.login-container .title{
	background-color: #105ea5;
	color: #fff;
	padding: 10px 60px;
}
.login-container .title h4{
	display: inline-block;
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.login-container .title .dropdown{
	float: right;
	margin-top: 8px;
}
.login-container .title .dropdown a.dropdown-toggle{
	color: #eee;
	font-size: 18px;
}
.login-container .title .dropdown a.dropdown-toggle:hover,
.login-container .title .dropdown a.dropdown-toggle:focus{
	color: #eee;
	font-size: 18px;
}
.login-container .title .dropdown ul.dropdown-language{
	left: auto;
	right: 0;
	top: 0;
	border-radius: 0;
	padding: 15px 0;
	display: block;    
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
     backface-visibility: hidden;
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-o-transform-origin: top right;
	-ms-transform-origin: top right;
	-moz-transform-origin: top right;
	-webkit-transform-origin: top right;
	transform-origin: top right;
	-o-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}
.login-container .title .dropdown.open ul.dropdown-language{
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
     backface-visibility: visible;
}
.login-container .title ul li a{
	color: #777;
	font-size: 85%;
	padding: 5px 15px;
	text-transform: uppercase;
}
.login-container .title ul li a img{
	width: 20px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.login-container .login-form{
	padding: 20px 60px;
}
.login-container .login-form .form-group .form-control{
	background-color: #d8d8d8;
    border: 0;
}
.login-container .login-form .form-group .form-control:focus{
    box-shadow: none;
}
.login-container .login-form .form-group.has-error .form-control{
	border-bottom: 1px solid #a94442;
}
.login-container .login-form .form-group .captcha:after{
	clear: both;
	display: table;
	clear: both;
}
.login-container .login-form .form-group .captcha,
.admin-container .captcha{
	padding: 5px 0;
}
.login-container .login-form .form-group .captcha img,
.admin-container .captcha img{
	float: left;
	border: 1px solid #ddd;
}
.login-container .login-form .form-group .captcha span,
.admin-container .captcha span{
	padding-left: 10px;
    font-size: 90%;
    padding-top: 10px;
    display: inline-block;
}
.login-container .login-form label{
	text-transform: uppercase;
    font-size: 80%;
    margin-bottom: 0;
	color: #666;
}
.login-container .login-form .checkbox{
	padding-bottom: 10px;
}

.login-container .login-form .help-block{
    font-size: 80%;
    font-weight: bold;
	margin: 0;
}
.login-container .login-form .btn-primary{
	display: block;
	margin: 10px auto;
	width: 60%;
	padding: 10px;
}
.login-container .login-form a.btn-link{
	background: #dee6ea;
    display: block;
    color: #777;
    font-size: 85%;
    padding: 8px;
    border: 1px solid #ccc;
	margin-top:10px;
}
@media(max-width: 1280px){
	.login-container{
		width: 60%;
	}
}
@media(max-width: 768px){
	.login-container{
		width: 75%;
		margin: 20px auto;
		height: auto;
	}
	.login-container .copyright-text{
		position: relative;
	}
	.login-container .login-form .btn-primary{
		width: 100%;
	}
	.panel-body-stats {
		overflow: auto;
		padding: 0;
    	margin: 15px;
	}
	.amChartsPeriodSelector {
		display:none;
	}
}
@media(max-width: 480px){
	.login-container{
		width: 100%;
		margin: 0 auto;
		background: rgba(255,255,255,0.65);
		height: 100%;
	}
	.login-container .title{
		padding: 10px 5%;
	}
	.login-container .login-form{
		padding: 10px 5%;
	}
}

.panel{
	border-color: #bbb;
	border-radius: 0;
}

.has-error .help-block{
	color: #a94442;
}
.highlight{ 
	position: relative; 
	display: block; 
	width: 100%; 
}
.highlight:before, .highlight:after   {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #136c9e; 
	-o-transition: 0.3s ease all; 
	-ms-transition: 0.3s ease all; 
	-moz-transition: 0.3s ease all; 
	-webkit-transition: 0.3s ease all; 
	transition: 0.3s ease all; 
}
.highlight:before {
  left:50%;
}
.highlight:after {
  right:50%; 
}
.form-control:focus ~ .highlight:before, .form-control:focus ~ .highlight:after {
  width:50%;
}

/* Validation */
.alert {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Datatables */
div.dataTables_wrapper { 
  	position: relative; 
}

div.dataTables_wrapper>.dt-buttons {
	float: right;
}

div.dataTables_wrapper>.clear-both {
	clear: both;
}

div.dataTables_wrapper div.dataTables_processing { 
	background-color: rgb(16, 94, 165); 
    color: rgb(255, 255, 255); 
  	top: 25px; 
}

table.dataTable>tbody>tr.selected>td {
	background-color: #a2aec7;
}

table.datatable-admin {
	font-size: 11px;
}

.form-filled .form-group{
	margin-bottom: 0;
	padding: 10px 0;
	border-bottom: 1px solid #dcdcdc;
}
.form-filled .form-group:first-child{
	padding-top: 0;
}
.form-filled .form-group:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}
.form-filled .form-group label{
	display: block;
	margin: 0;
	color: #646464;
	font-weight: normal;
	font-size: 12px;
}
.form-filled .form-group p{
	margin: 0;
	font-size: 16px;
	color: #000;
}
.form-filled .form-group .label{
	display: inline-block;
}

.img-container{
	text-align: center;
}
.img-container img{
	max-width: 500px;
	width: 100%;
}
.upload-action{
	margin-top: 10px;
	text-align: center;
}
.upload-action .btn input[type="file"]{
	visibility: hidden;
	position: absolute;
}

.transaction-method{
	margin-bottom: 15px;
}
.transaction-method label{
	margin-right: -4px;
	width: 20%;
	margin-bottom: 8px;
}
@media only screen and (max-width:992px){
	.transaction-method label{
		width: 33.33%;
	}
}
@media only screen and (max-width:767px){
	.transaction-method label{
		width: 50%;
	}
}
@media only screen and (max-width:480px){
	.transaction-method label{
		width: 100%;
	}
}