@font-face {
    font-family: "Poppins";
    src: url('fonts/poppins-regular.woff2') format('woff2'),
         url('fonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Poppins";
    src: url('fonts/poppins-medium.woff2') format('woff2'),
         url('fonts/poppins-medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: "Poppins";
    src: url('fonts/poppins-bold.woff2') format('woff2'),
         url('fonts/poppins-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


html,
body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Poppins', Arial, Microsoft Yahei, sans-serif;
}
body{
	background-color: #fff;
	background-attachment: fixed; 
	color: #666;
    font-size: 13px;
}
a:hover,
a:focus{
	text-decoration: none;
}
p:last-child{
	margin-bottom: 0;
}
@media only screen and (min-width:1600px){
	.container{
		width: 1440px;
	}
}
.wrapper{
	position: relative;
	min-height: 100%;
	margin-bottom: -45px;
}
.wrapper:after{
	content: "";
	display: block;
	height: 45px;
}
.overlay{
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.overlay.visible{
	opacity: 1;
	visibility: visible;
}

.menu:after,
.menu .main-nav li:after,
.menu .sub-nav li:after,
.menu .main-nav li .extra-menu li:after,
.main-footer:after{
	content: "";
	display: table;
	clear: both;
}
.main-header{
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #1e1e23;
}
.main-header .logo{
	position: absolute;
	padding: 5px;
	width: 80px;
	display: inline-block;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.main-header .logo:after{
	content: "";
    position: absolute;
    top: 45px;
    width: 130px;
    height: 60px;
    background-image: url(../images/logo_after.png);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 0;
    margin-left: -25px;
	
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.main-header .logo img{
	position: relative;
	z-index: 1;
	width: 100%;
}
.menu{
	position: relative;
	padding-left: 125px;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.menu .main-nav{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.menu .main-nav li{
	display: inline-block;
}
.menu .main-nav li a{
	display: block;
	padding: 25px 10px;
	color: #ccc;
    font-size: 13px;
    font-weight: 400;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.menu ul li .dropdown-menu{
	margin-top: -1px;
	background-color: #454447;
	padding: 15px 0;
	min-width: 220px;
	border-radius: 0;
    display: block;
	
	opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    -webkit-transition: all .3s cubic-bezier(.3,1.4,.7,1);
    transition: all .3s cubic-bezier(.3,1.4,.7,1);
}

.menu ul li .dropdown-menu.language{
	left: auto;
	right: 0;
}
.menu ul li .dropdown-menu li{
	display: block;
}
.menu ul li .dropdown-menu li a{
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: normal;
}
.menu ul li .dropdown-menu li.extra a{
	display: table;
	width: 100%;
}
.menu ul li .dropdown-menu li a:hover,
.menu ul li .dropdown-menu li a:focus{
	background-color: transparent;
}
.menu ul li .dropdown-menu > li.extra > a .caret{
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: table-cell;
	margin: 5px 0;
    width: 4px;
}
.menu ul li .dropdown-menu > li.extra > a:hover{
	background-color: rgba(255,255,255,0.1);
}
.menu ul li .dropdown-menu > li.extra > a:after{
	content: "";
    display: block;
    height: 10px;
    width: 10px;
    margin: 2px -25px 2px 0;
    background-color: #222;
    float: right;
	
	opacity: 0;
    visibility: hidden;
    -webkit-transform:translateX(-20%);
    transform: translateX(-20%);
    -webkit-transition: all .3s cubic-bezier(.3,1.4,.7,1);
    transition: all .3s cubic-bezier(.3,1.4,.7,1);
}
.menu ul li .dropdown-menu > li.extra > a:hover:after{
	opacity: 1;
    visibility: visible;
    -webkit-transform:  rotate(-45deg) translateX(0%);
    transform: rotate(-45deg)  translateX(0%);
}
.menu ul li .dropdown-menu li.extra .extra-menu{
	position: absolute;
	top: 0;
	left: 100%;
	min-height: 100%;
	background-color: #222;
    padding: 15px 0;
	z-index: 1;
    min-width: 210px;
	
	opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    -webkit-transition: all .3s cubic-bezier(.3,1.4,.7,1);
    transition: all .3s cubic-bezier(.3,1.4,.7,1);
}

.menu ul li .dropdown-menu li.extra .extra-menu li a{
	font-size: 90%;
}
.menu .sub-nav{
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu .sub-nav li{
	display: inline-block;
}
.menu .sub-nav li a{
	display: block;
    padding: 25px 10px;
    color: #ccc;
    font-size: 13px;
    font-weight: 400;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.eshare-btn{
	margin-top: 20px;
	margin-right: 10px;
	float: right;
    
    background-color: #343e45;
    color: #ccc;
}
.eshare-btn a{
	padding: 8px 25px;
	background-color: #343e45;
}
.eshare-btn img{
	width: 25px;
}
.eshare-btn label{
	position: relative;
	top: 2px;
	font-weight: 400;
	color: #ccc;
	cursor: pointer;
}
.main-header .wallet-trigger{    
	padding: 12px 14px 8px;
    display: inline-block;
	display: none;
}
.main-header .wallet-trigger span{
	width: 26px;
	height: 26px;
	background-image: url(../images/wallet_trigger.png);
	display: block;
}
.eshare-mobile{
	display:none;
}
.sa1{
	margin-top: 15px;
	margin-right: 10px;
	float: right;
    
    background-color: #343e45;
    color: #ccc;
}
.sa1 label {
    font-weight: 400;
    color: #ccc;
    padding: 10px 10px 3px;
}
.main-header .menu-trigger{
	padding: 25px 15px;
	display: inline-block;
    float: right;
	display: none;
}
.main-header .menu-trigger span{
	position: relative;
	background-color: #ccc;
	width: 20px;
	height: 2px;
	display: block;
}
.main-header .menu-trigger span:before{
	content: "";
	position: absolute;
	background-color: #ccc;
	width: 20px;
	height: 2px;
	top: -5px;
}
.main-header .menu-trigger span:after{
	content: "";
	position: absolute;
	background-color: #ccc;
	width: 20px;
	height: 2px;
	bottom: -5px;
}

.main-footer{
	position: relative;
	background-color: #222;
    padding: 13px 0;
	height: 45px;
}
.main-footer .copyright{
	font-size: 11px;
	display: inline-block;
	color: #aaa;
	margin: 0;
}
.main-footer .right-link{
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}
.main-footer .right-link li{
	display: inline-block;
}
.main-footer .right-link li a{
	font-size: 11px;
	color: #aaa;
	padding-left: 10px;
}
@media only screen and (min-width: 769px){
	
	.main-header.fixed .logo{
		width: 55px;
	}
	.main-header.fixed .logo:after{
		opacity: 0;
		visibility: hidden;
	}
	.main-header.fixed .menu{
		padding-left: 70px;
	}
	.main-header.fixed .menu .main-nav > li > a,
	.main-header.fixed .menu .sub-nav > li > a{
		padding: 22px 10px;
	}
	.menu ul li:hover .dropdown-menu{
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}

	.menu ul li .dropdown-menu li.extra:hover .extra-menu{
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	
}
@media only screen and (max-width:991px){
	.main-header .container{
		padding: 0;
	}
	.main-header .logo{
		width: 65px;
	}
	.main-header .logo:after{
		width: 110px;
		top: 40px;
	}
	.menu {
		padding-left: 70px;
	}
	.menu .main-nav li a,
	.menu .sub-nav li a{
		font-size: 12px;
		padding: 20px 8px;
	}
	.eshare-btn {
		margin-top: 0;
		padding: 15px 15px;
	}
	.sa1 {
		margin-top: 0;
		padding: 10px 15px;
	}
}
@media only screen and (max-width:768px){
	
	.main-header .logo {
		width: 70px;
		height: 50px;
		overflow: hidden;
		left: 50%;
		margin-left: -35px;
	}
	.main-header .wallet-trigger,
	.main-header .menu-trigger{
		display: inline-block;
	}
	.menu{
		position: fixed;
		z-index: 5;
		top: 0;
		right: 0;
		width: 60%;
		height: 100%;
		padding-left: 0;
		background-color: #1e1e23;
		
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.menu.visible{
		visibility: visible;
		opacity: 1;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	.menu .main-nav,
	.menu .sub-nav{
		display: block;
		float: none;
	}
	.menu .main-nav li,
	.menu .sub-nav li{
		display: block;
	}
	.menu .main-nav li a,
	.menu .sub-nav li a{
		padding: 15px 25px;
		font-size: 14px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	}
	.menu .main-nav li .dropdown-menu,
	.menu .sub-nav li .dropdown-menu{
		position: relative;
		padding: 0;
		height: 0;
		width: 100%;
	}
	.menu .main-nav li.open .dropdown-menu,
	.menu .sub-nav li.open .dropdown-menu{
		padding: 15px 0;
		height: 100%;
	}
	.menu .main-nav li.open .dropdown-menu li a,
	.menu .sub-nav li.open .dropdown-menu li a{
		padding: 8px 30px 6px;
		border-bottom: 0;
	}
	.menu ul li .dropdown-menu > li.extra > a .caret{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.menu ul li .dropdown-menu > li.extra > a:hover{
		background-color: transparent;
	}
	.menu ul li .dropdown-menu > li.extra > a:after{
		display: none;
	}
	.menu ul li.open .dropdown-menu{
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	.menu ul li .dropdown-menu li.extra .extra-menu{
		position: relative;
		left: 0;
		background-color: rgba(0, 0, 0, 0.1);
		min-width: 100%;
		height: 0;
		padding: 0;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	.menu ul li .dropdown-menu li.extra.open .extra-menu{
		opacity: 1;
		visibility: visible;
		height: 100%;
		padding: 15px 0;
	}
	.menu ul li .dropdown-menu li.extra.open .extra-menu li a{
		padding: 4px 40px;
	}
	.eshare-mobile{
		display: inline-block;
		padding: 4px 14px 10px 18px;
		border-left: 1px solid rgba(255, 255, 255, 0.15);
		margin-top: 1px;
	}
	.eshare-mobile span{
		display: block;
		width: 26px;
		height: 26px;
		background-image: url(../images/e-share.png);
	}
	.eshare-btn {
		display: none;
	}
}
@media only screen and (max-width:600px){
	.wrapper{
		margin-bottom: -58px;
	}
	.wrapper:after {
		height: 58px;
	}
	.main-footer{
		padding: 10px 0;
		height: auto;
	}
	.main-footer .right-link{
		float: none;
		text-align: center;
		padding-bottom: 5px;
	}
	.main-footer .right-link li a{
		font-size: 12px;
	}
	.main-footer .copyright{
		display: block;
		text-align: center;
	}
}
@media only screen and (max-width:480px){
	.menu{
		width: 75%;
	}
	.eshare-btn label{
		display: none;
	}
	.sa1 {
		margin-top: 0;
		padding: 10px 15px;
	}
}

.wrapper.auth{
	background-image: url(../images/login_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.wrapper.auth canvas{
	position: absolute;
	top: 0;
	left: 0;
}
.auth .main-header .logo{
	left: 50%;
	margin-left: -45px;
}
.login-box{
	margin: 5% 0 20px;
	max-width: 450px;
	position: relative;
}
.login-box:after{
	content: "";
    position: absolute;
	height: 100%;
	width: 100%;
	right: -10px;
	bottom: -10px;
	background-color: rgba(255,255,255,0.5);
	
}
.login-box .inner{
	position: relative;
	z-index: 1;
	padding: 25px 40px;
	background: #1e1e23;
}
.login-box .title{
	color: #b9a564;
	font-size: 18px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.15);
}
.login-box .form-group label{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px!important;     
	color: #aaa;
    font-weight: normal;
}
.login-box .form-group .form-control{
	background-color: rgba(255,255,255,0.10);
	color: #FFF;
	border: 0;
}
.login-box .form-group .form-control:focus{
	background-color: rgba(255,255,255,0.20);
	border: 0;
}
.login-box .form-group.has-error .form-control{
    border-bottom: 1px solid #ff4242;
}
.login-box .form-group.has-error span.help-block{
	position: absolute;
    font-size: 12px;
    color: #ed4444;
    display: block;
    margin-top: -5px;
}
.login-box .form-group.has-error label.checkbox+span.help-block{
    margin-top: -25px;
}
.login-box .btn.btn-primary{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
}
.login-box label.checkbox{
    margin: 25px 0!important;
    display: block;
}
.login-box label.checkbox span{
    font-weight: normal;
	font-size: 11px;
}
.login-box .captcha-img{
    position: absolute;
	right: 0;
    bottom: 0;
}
.login-box .captcha-refresh{
	float: right;
}
.login-box .action a{
    color: #ccc;
	display: block;
	padding-top: 10px;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
}
@media only screen and (min-width:1600px){
	.auth .main-header .logo{
		margin-left: -50px;
	}
	.login-box{
		margin: 10% 0;
	}
}

@media only screen and (max-width:1024px) and (min-height:1024px){
	.login-box{
		margin: 10% auto;
		max-width: 600px;
	}
}
@media only screen and (max-width:768px){
	.auth .main-header .logo{
		margin-left: -30px;
	}
}
@media only screen and (max-width:600px){
	.login-box{
		margin: 10px;
		max-width: 100%;
	}
}
@media only screen and (max-width:480px){
	.auth .main-header{
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	.login-box{
		margin: 0px;
	}
}

.page-container{
	padding-bottom :30px;
    padding-top: 68px;
}
.page-container > .container{
	padding-top: 15px;
}
.panel{
	background-color: #fff;
	
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}
.panel.panel-body,
.panel .panel-body{
	border: 0;
}
.panel .panel-heading{
	padding: 15px 20px;
	border-radius: 0;
	background-color: #242328;
	color: #ccc;
    margin-bottom: 0;
}
.panel .panel-body{
	padding: 15px 20px;
	overflow: scroll;
}

.user-info{
    background: #343e45;
    background: -moz-linear-gradient(top, #343e45, #373737);
    background: -webkit-linear-gradient(top, #343e45, #373737);
    background: linear-gradient(to bottom, #343e45, #373737);
}
.user-info .info-list:after{
	content: "";
	display: table;
	clear: both;
}
.user-info .info-list .list{
	width: 16.6%;
	float: left;
	padding: 30px 20px;
	text-align: center;
}
@media only screen and (min-width:992px){
	.user-info .info-list .list:nth-child(-n+6){
		padding-bottom: 15px; 
		border-bottom: 1px solid rgba(255,255,255,0.05);
	}
	.user-info .info-list .list:nth-child(n+7){
		padding-top: 15px; 
	}
}
.user-info .info-list .list label{ 
	font-weight: normal;
	color: #b9a564;
	margin-bottom: -5px;
	font-size :12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user-info .info-list .list h5{ 
	margin: 0;
	color: #ccc;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user-info .info-list .list:hover h5{ 
	color: #eee;
}

@media only screen and (max-width:991px) and (min-width:601px){
	.user-info .info-list .list{
		width: 25%;
	}
	.user-info .info-list .list:nth-child(-n+4){
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(255,255,255,0.05);
	}
	.user-info .info-list .list:nth-child(5n),
	.user-info .info-list .list:nth-child(6n),
	.user-info .info-list .list:nth-child(7n),
	.user-info .info-list .list:nth-child(8n){
		padding-bottom: 15px;
		padding-top: 15px;
		border-bottom: 1px solid rgba(255,255,255,0.05);
	}
	.user-info .info-list .list:nth-child(n+8){
		padding-top: 15px;
	}
}
@media only screen and (max-width:600px){
	.user-info{
		position: absolute;
		z-index: 2;
		
		background: rgba(52, 62, 69, 0.98);
		background: -moz-linear-gradient(top, rgba(52, 62, 69, 0.98), rgba(55, 55, 55, .99) );
		background: -webkit-linear-gradient(top, rgba(52, 62, 69, 0.98), rgba(55, 55, 55, .99) );
		background: linear-gradient(to bottom, rgba(52, 62, 69, 0.98), rgba(55, 55, 55, .99) );
		
		visibility: hidden;
		opacity: 0;
		-webkit-transform: transalteY(-20%);
		transform: transalteY(-20%);
		-webkit-transition: all .3s cubic-bezier(.3,1.4,.7,1);
		transition: all .3s cubic-bezier(.3,1.4,.7,1);
	}
	.user-info.visible{
		visibility: visible;
		opacity: 1;
		-webkit-transform: transalteY(0%);
		transform: transalteY(0%);
	}
	.user-info .container{
		padding: 0;
	}
	.user-info .info-list .list{
		width: 50%; 
		text-align: center;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	.user-info .info-list .list label{ 
		font-size :12px;
	}
	.user-info .info-list .list h5{ 
		font-size: 15px;
	}
}

.action:after{
	content: "";
	display: table;
	clear: both;
}
.action.center{
	text-align: center;
}
.action.right{
	text-align: right;
}
.action .left{
	float: left;
}
.action .right{
	float: right;
}
.page-title:after{
	content: "";
	display: block;
	clear: both;
}
.page-container h2:first-child,
.page-title{
	position: relative;
	color: #000;
}
.page-title .login-notice{
	position: absolute;
	right:0 ;
	bottom: 5px;
	text-align: right;
}
@media only screen and (max-width:991px){
	.page-container {
		padding-top: 67px;
	}
}
@media only screen and (max-width:768px){
	.page-container {
		padding-top: 52px;
	}
}
@media only screen and (max-width:600px){
	.page-container h2:first-child,
	.page-title h2{
		font-size: 20px
	}
	.page-title .login-notice{
		position: relative;
		right: auto;
		bottom: auto;
		text-align: left;
		background-color: #d7e1e1;
		padding: 20px;
		margin-bottom: 15px;
	}
}
@media only screen and (max-width:480px){
	.auth .page-container .container{
		padding: 0;
	}
}


.profile{
	background-color: #0c131f;
	background-image: url(../images/sidebox_profile_bg.jpg);
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 8px;
	border-radius: 5px 5px 0 0;
}
.profile:after,
.profile .profile-details .list:after{
	content: "";
	display: table;
	clear: both;
}
.profile .profile-img{   
	width: 30%;
	float: left;
	background-color: #ddd;
	border: 2px solid #ddb200;
	border-radius: 5px;
	overflow: hidden;
}
.profile .profile-img img{   
	width: 100%;
}
.profile .profile-details{
	float: left;
	width: 70%;
	padding-left: 10px
}
.profile .profile-details .list{
	background-color: rgba(0,0,0,0.2);
	border-radius: 15px;
	width: 100%;
	padding: 4px 15px 3px;
	margin-bottom: 10px
}
.profile .profile-details .list label{
	float: left;
	font-weight: normal;
	margin: 0;
	color: #aaa;
	font-size: 12px;
	display: inline-block;
	width: 40%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.profile .profile-details .list p{
	float: left;
    font-size: 12px;
	margin: 0;
	color: #f9cb07;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.quick-link:after,
.group-quick-link:after{
	content: "";
	display: table;
	clear: both;
}
.quick-link{
	margin: 0 -5px;
	background-color: #1d61c9;
}
.quick-link .list{
	width: 33.33%;
	float: left;
	padding-top: 5px;
	border-right: 1px solid rgba(255,255,255,0.05);
	border-left: 1px solid rgba(0,0,0,0.15);
}
.quick-link .list a{
	display: block;
	border-radius: 8px 8px 0 0 ;
	text-align: center;
	padding: 10px 0;
	color: #ddd;
	font-size: 13px;
	
	background: transparent;
	background: -moz-linear-gradient(top, #1850bb, #07388a);
	background: -webkit-linear-gradient(top, #1850bb, #07388a);
	background: linear-gradient(to bottom, #1850bb, #07388a);
}
.quick-link .list a:active{
	background: #07388a;
}

.quick-link .list a img{
	width: 25px;
	display: block;
	margin: 0 auto;
}
.group-quick-link{
	padding: 10px 8px 5px;
}
.group-quick-link a{
	float: left;
	width: 50%;
	color: #fff;
	font-size: 12px;
	background: #555;
	text-align: center;
	padding: 10px 10px;
	background: -moz-linear-gradient(top, #555, #000);
	background: -webkit-linear-gradient(top, #555, #000);
	background: linear-gradient(to bottom, #555, #000);
}
.group-quick-link a:active{
	background: #444;
}
.group-quick-link a img{
	width: 14px;
	margin-top: -2px;
}
.group-quick-link a:first-child{
	border-radius: 5px 0 0 5px;
	border-right: 1px solid rgba(255,255,255,.15)	
}
.group-quick-link a:last-child{
	border-radius: 0 5px 5px 0;
}


.sidebox .news-list .list:after{
	content: "";
	display: table;
	clear: both;
}
.sidebox .news-list{
	margin: 5px 8px 10px;
	background: #12428a;
	background: -moz-linear-gradient(top, #124289, #001432);
	background: -webkit-linear-gradient(top, #124289, #001432);
	background: linear-gradient(to bottom, #124289, #001432);
	border-radius: 8px;
	
}
.sidebox .news-list .list{
	padding: 14px 10px 5px;
	color: #DDD;
	background: transparent;
	border-radius: 0;
	margin-bottom: 0;
}
.sidebox .news-list .list h5{
	color: #DDD;
	font-size: 12px;
	margin: 0;
}
.sidebox .news-list .list h5 span.new{
	top: 0;
	background-color: red;
	padding: 2px;
	font-size: 10px;
}
.sidebox .news-list .list .date{
	color: #5788d2;
	font-size: 10px;
	float: right;
}
.sidebox .news-list .list:nth-child(even){
	background-color: rgba(255,255,255,0.15);
}
.sidebox .news-list .list:last-child{
	border-radius: 0 0 8px 8px;
}
.sidebox .news-list+.action{
	padding-right: 10px;
	padding-bottom: 5px;
}

.slideshow{
	position: relative;
	margin-bottom: 15px;
}
.slideshow .item img{
	width: 100%;
}
.owl-dots{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.owl-dots .owl-dot{
	display: inline-block;
	margin: 5px;
}
.owl-dots .owl-dot span{
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background-color: rgba(255,255,255,.5);
}
.owl-dots .owl-dot.active span{
	background-color: #fff;
}

.wallet-list:after,
.bonus-list:after{
	content: "";
	display : table;
	clear: both;
}
.wallet-list,
.bonus-list{
	padding: 0 8px;
	margin-bottom: 15px;
}
.wallet-list .general-title h5,
.bonus-list .general-title h5{
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 8px 20px;
	border-radius: 15px;
	color: #ffcc00;
}
.wallet-list .general-title h5 span,
.bonus-list .general-title h5 span{
	position: relative;
}
.wallet-list .general-title h5 span img,
.bonus-list .general-title h5 span img{
	width: 17px;
	margin-top: -2px;
	margin-right: 5px;
}
.wallet-list .general-title h5 span:after,
.bonus-list .general-title h5 span:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #ffcc00;
	border-radius: 100%;
}
.wallet-list .list,
.bonus-list .list{
	float: left;
	width: 33.33%;
	padding: 0 5px;
}
.wallet-list .list .inner{
	background: #fbc500;
	background: -moz-linear-gradient(left, #fbc500, #fbe600, #fbc500);
	background: -webkit-linear-gradient(left, #fbc500, #fbe600, #fbc500);
	background: linear-gradient(to right, #ffc500, #fbe600, #ffc500);
	border-radius: 4px;
	padding: 20px 20px;
	color: #000;
}
.bonus-list .list .inner{
	background: #103b7c;
	background: -moz-linear-gradient(top, #1d5fc6, #103b7c);
	background: -webkit-linear-gradient(top, #1d5fc6, #103b7c);
	background: linear-gradient(to bottom, #1d5fc6, #103b7c);
	border-radius: 4px;
	padding: 20px 20px;
	color: #fff;
}
.wallet-list .list .inner .wallet-icon,
.bonus-list .list .inner .wallet-icon{
	width: 40px;
    float: left;
    margin-right: 8px;
}
.wallet-list .list .inner label,
.bonus-list .list .inner label{
	display: block;
	margin-bottom: -3px;
	font-weight: normal;
}
.wallet-list .list .inner h4,
.bonus-list .list .inner h4{
	margin: 0;
	font-weight: bold;
	font-size: 22px;
}
@media only screen and (max-width:767px){
	.wallet-list .list, .bonus-list .list{
		width: 100%;
		margin-bottom: 10px;
	}
}

/***** FORM ****/
.form-group{
	position: relative;
}
.form-group .control-label{
	display: block;
	font-weight: normal;
	color: #aaa;
	font-size: 12px;
	margin-bottom: 2px;
}
.form-group .form-control{
	height: 40px;
	margin-bottom: 5px;
	border: 1px solid #eee;
	background-color: #fafafa;
	border-radius: 0;
	padding: 8px 15px;
	color: #666;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.form-group .form-control:readonly,
.form-group .form-control:disabled{
	background-color: #eee;
}
.form-group .form-control:focus{
	border-color: #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-horizontal .form-group .control-label{
	padding-top: 12px;
	color: #888;
}


.radio-selection,
.checkbox-selection{
	background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 8px 20px;
}
.radio,
.checkbox{
	padding-left: 0;
	margin-top: 4px!important;
}
.radio.radio-inline,
.checkbox.checkbox-inline{
	display: inline-block;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"]{
	display: none;
}
.radio input[type="radio"]+ins{
	position: relative;
	border: 1px solid rgba(255,255,255,0.15);
	width: 15px;
    height: 15px;
	border-radius: 100%;
    display: inline-block;
	margin-right: 2px;
}
.radio input[type="radio"]:checked+ins{
	background-color: #ccc;
}
.radio input[type="radio"]:checked+ins:after{
	content: "";
    height: 9px;
    width: 9px;
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}
.radio span{    
	display: inline-block;
    position: relative;
    top: -2px;
    font-size: 12px;
    color: #aaa;
}
.checkbox input[type="checkbox"]+ins{
	position: relative;
	border: 1px solid rgba(255,255,255,0.15);
	width: 15px;
	height: 15px;
    display: inline-block;
	margin-right: 5px;
}
.checkbox input[type="checkbox"]:checked+ins{
	background-color: #ccc;
}
.checkbox input[type="checkbox"]:checked+ins:after{
	content:"";
	width: 15px;
	height: 15px;
	background-image: url(../images/checkbox_checked.png);
	position: absolute;
	left: 0;
	top: 0;
}
.checkbox span{    
	display: inline-block;
    position: relative;
    top: -3px;
    font-size: 12px;
    color: #aaa;
}

/**** BUTTON ****/
.btn{
	border-radius: 0;
	padding: 10px 20px;
}
.btn.btn-sm{
	border-radius: 0;
	padding: 8px 10px;
    font-size: 11px;
}
.btn.btn-xs{
	border-radius: 0;
	padding: 5px 8px;
    font-size: 11px;
}
.btn-primary{
	background: #b9a564;
    background: -moz-linear-gradient(top, #d5bd70,#b9a564 );
    background: -webkit-linear-gradient(top, #d5bd70,#b9a564 );
    background: linear-gradient(to bottom, #d5bd70,#b9a564 );
	border: 0;
	color: #222;
}
.btn-primary:hover{
	background: #b9a564;
    background: -moz-linear-gradient(top, #d5bd70,#b9a564 );
    background: -webkit-linear-gradient(top, #d5bd70,#b9a564 );
    background: linear-gradient(to bottom, #d5bd70,#b9a564 );
	color: #222;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus{
	background: #b9a564;
	color: #222;
	outline: 0;
}
.btn-default{
	background: #999;
    background: -moz-linear-gradient(top,  #eee,#ccc );
    background: -webkit-linear-gradient(top,  #eee,#ccc );
    background: linear-gradient(to bottom, #eee,#ccc );
	border: 0;
	color: #000;
}
.input-group-btn .btn{
	border-radius: 25px;
    padding: 10px 20px 10px;
    height: 40px;
    position: relative;
    top: -1px;
    font-size: 12px;
}
.input-group-addon{
    background-color: rgba(0, 0, 0, 0.2);
	color: #aaa;
	font-size: 12px;
	border: 0;
	border-radius: 20px;
	padding: 0 15px;
}
.input-group-addon:first-child{
	border-right: 1px solid rgba(255,255,255,0.05)!important;
}
.input-group-addon:last-child{
	border-left: 1px solid rgba(255,255,255,0.05)!important;
}
.input-group{
	margin-bottom: 5px;
}
.input-group .form-control{
	margin-bottom: 0;
}

/**** TABLE ****/

.table{
	background-color: #f6f6f6;
	margin-bottom: 25px;
}
.table thead{
	background-color: #222;
}
.table thead tr th{
	padding: 14px 20px;
	color: #ccc;
	border: 0;
	font-weight: normal;
	font-size: 12px;
}
.table tbody tr td{
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	
}
.table tbody tr td a{
	color: #222;
	
}
.table tfoot{
    background: #ddd;
}
.table tfoot tr td,
.table tfoot tr th{
	padding: 15px 20px;
	color: #222;
    border-color: #ddd;
}
.table tbody tr td .credit{
	color: #32c400;
    font-weight: bold;
}
.table tbody tr td .debit{
	color: #ff2525;
    font-weight: bold;
}
.table tbody tr td .grouped-info{
	background-color: rgba(0,0,0,0.15);
	padding: 12px 25px;
	border-radius: 5px;
	display: inline-block;
}
.table tbody tr td .grouped-info p{
	margin-bottom: 0;
}
.table tbody tr td .grouped-info p:first-child{
	color: #fff;
	font-size: 15px;
}
.table tbody tr td .grouped-info p.package{
	color: #f9cb07;
	font-size: 15px;
}
.table tbody tr td .grouped-info p.date{
	color: #aaa;
	font-size: 12px;
}

/**** ALERT ****/
.alert{
	padding: 15px 25px;
}
.alert-danger{
	color: #fed8d7;
    border-color: #960000;
	background: #a90000;
    background: -moz-linear-gradient(top, #ed0000,#a90000 );
    background: -webkit-linear-gradient(top, #ed0000,#a90000 );
    background: linear-gradient(to bottom, #ed0000,#a90000 );
}
.alert-warning{
	color: #000;
    border-color: #d28d00;
	background: #d28d00;
    background: -moz-linear-gradient(top, #ffb41c,#d28d00 );
    background: -webkit-linear-gradient(top, #ffb41c,#d28d00 );
	background: linear-gradient(to bottom, #ffb41c,#d28d00 );
}
.alert-success{
	color: #fff;
    border-color: #307300;
	background: #307300;
    background: -moz-linear-gradient(top,  #3ac000,#307300 );
    background: -webkit-linear-gradient(top,  #3ac000,#307300 );
    background: linear-gradient(to bottom, #3ac000,#307300 );
}

/**** DATATABLE ****/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after{
	bottom: 13px;
}